<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title>Quoogle</title>
{% endblock %}

{% block row %}
<div class="col-lg-12 text-center">
	<br><br><br><br><br><br><br><br><br>
	<img src="../static/img/Quoogle.png" width="318px">
	<br><br><br>
	<form method="POST">
		<input class="form-control" type="text" name="query" width="586px"><br><br>
		<input class="btn" type="submit" value="Quoogle Search">
	</form>
	<br><br>
	<p>
        {% if Question %}
        {{Question}}
        {% endif %} " : "
        {% if Answer %}
        {{Answer}}
        {% endif %}
        {% for answer in RunnersUp %}
        {{answer}<br>
        {% endfor %}
        </p>
        
</div>
{% endblock %}
